transformers
sentence_transformers
datasets
langchain
torch
numpy
nltk

# Optimization
accelerate
optimum

# Audio Input and Output
simpleaudio
pyaudio

# Data processing and vector store creation
faiss-cpu  # Or: faiss-gpu
PyPDF2  # For splitPDF.py
spacy  # For processQuAD.py
tqdm  # For processQuAD.py

# Finetuning
evaluate
rouge_score
