transformers
sentence_transformers
datasets
langchain
torch
numpy
nltk
faiss-cpu  # Or: faiss-gpu

# Optimization
accelerate
optimum

# Audio Input and Output
simpleaudio
pyaudio

# Data processing
PyPDF2  # For splitPDF.py

# Finetuning
evaluate
rouge_score
tqdm  # For T5
